/* Fonts */
$lato:  'Lato', sans-serif;

/* Colors */
$grey: #f5f5f5;
$orange: #e67e22;

.posts-list {
    flex: 2 0px;
    order: 2;
    margin: 0 0 0 1.3em;
    padding: 0;
    background: #fff;

    .list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.posting {
    padding: 1.3em;
    border-bottom: .0625em solid darken($grey, 5%);

    .name {
        display: block;
        font-size: 1.125em;
        color: $orange;
    }

    .email {
        display: block;
        font-size: .75em;
        font-weight: 700;
    }

    .message {
        display: block;
    }

    .date {
        font-size: .875em;
        font-style: italic;
    }
}