/* Colors */
$blue: #3498db;
$red: #e74c3c;
$bluegrey: #34495e;

/* Login styles */
.login-box {
    margin-top: -5%;
    width: 40%; 
}

/* Add page styles */
.add-entry-profile {
    order: 1;
}

.add-entry-wrapper {
    flex: 2 0px;
    order: 2;
    text-align: center;

    .add-entry {
        margin: 0 auto;
        width: 60%;
    }
}

.add-entry-contributors {
    order: 3;
}

/* General textbox styles */
.single-line-textbox,.multi-line-textbox {
    position: relative;
    display: block;
    margin: 0 auto .0625em auto;
    padding: 1em 2% 1em 1.475%;
    background: #fff;
    border: none;
    border-left: .3125em solid #fff;
    width: 96%;
    font-size: 1em;
    line-height: 1em;

    &:focus {
        outline: none;
        border-left-color: $blue;
    }
}

.error-message {
    display: block;
    margin: 0 auto .125em auto;
    padding: 0 2%;
    background: desaturate($red, 30%);
    width: 96%;
    font-size: .75em;
    line-height: 2.5em;
    text-align: left;
    color: #fff;
}