/* Fonts */
$lato:  'Lato', sans-serif;
$fonts: 'Segoe UI', Helvetica, sans-serif;

/* Colors */
$blue: #3498db;
$red: #e74c3c;
$grey: #f5f5f5;
$orange: #e67e22;
$bluegrey: #34495e;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

html {
    height: 100%;
}

html, body, ul {
    margin: 0;
    padding: 0;
}

body {
    background: $grey;
    height: 100%;
    font-family: $fonts;
}

button {
    background:transparent;
    border:none;
    margin:0;
    padding:0;
    cursor:pointer;
}

button:focus {
    outline:none;
    border:none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Button styles */
[class*="button-"] {
    display: block;
    margin: 0 auto;
    padding: 1em 1.3em;
    background: lighten($blue, 20%);
    border: none;
    width: 100%;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    color: #fff;

    &:hover {
        background: $blue;
    }
}

.button-sign-guestbook {
    position: fixed;
    right: 0;
    top: .75em;
    width: 10em;
    text-align: center;

    &.link {
        color: #fff;
    }
}

.button-manage {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1.3em 0;
    text-align: center;
    color: #fff;

    &.link {
        color: #fff;
    }
}

.link {
    text-decoration: none;
    color: inherit;
}

/* Flexbox general wrapper */
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexbox-center() {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.flexbox-wrapper {
    @include flexbox();
    -webkit-flex-flow: row wrap;
    padding-bottom: 5em;

    & > * {
        padding: 1.3em;
    }

    &.center {
        @include flexbox-center();
        // This height centers the flexbox in the center of the window
        height: 100%;
    }
}

.page-header {
    padding: 1.3em;

    &.inner-content {
        padding: 1.3em 0;
    }
}

.page-title {
    display: block;
    margin: 0 0 .5em 0;
    font-family: $lato;
    font-size: 1.25em;
    font-weight: 600;
    text-align: left;
    color: $bluegrey;

    &.link {
        color: $bluegrey;
    }

    [class*="fa-"] {
        font-size: 1.5em;
    }
}

.writers-list {
    order: 1;
    position: relative;
    margin: 0;
    background: darken($grey, 5%);
    width: 10em;

    .list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .user {
        position: relative;
        padding-left: 2em;
        line-height: 2em;

        .img-wrapper {
            position: absolute;
            top: .25em;
            left: 0;
            display: block;
            overflow: hidden;
            width: 1.5em;
            height: 1.5em;

            img {
                background: #333;
                border-radius: 50%;
                width: 100%;
            }
        }
    }
}

.manage-items {
    flex: 3 0px;
    order: 1;
    padding: 0;
    background: #fff;

    .manage-list {
        margin: 0;
        padding: 0;
        list-style: none;

        .list-item {
            position: relative;
            padding: 1.3em 10em 1.3em 1.3em;
            border-bottom: .0625em solid darken($grey, 5%); 

            .name {
                display: block;
                font-size: 1.125em;
                color: $orange;
            }

            .email {
                display: block;
                font-size: .75em;
                font-weight: 700;
            }

            .message {
                display: block;
                margin: .5em 0;
            }

            .date {
                display: block;
                font-size: .875em;
                font-style: italic;
                color: darken($grey, 20%);
            }
        }
    }
}

.approve-button,.deny-button {
    position: absolute;
    top: 1.3em;
    right: 1.3em;
    margin-top: 1em;
    background: lighten($blue, 20%);
    padding: .75em;
    display: inline-block;
    color: #fff;

    &:hover {
        background: $blue;
    }
}

@import 'posts';
@import 'sign-form';
